<?xml version="1.0"?>

<appSettings>

	<!-- ASP.Net runtime does not detect when the external file changes.
	To launch the application with all changes in effect, make changes to web.config or recycle the appdomain. -->

	<add key="minutesMostRecentActivityQueryCached"
	   value="1" />

	<add key="minutesBrowserAJAXUpdateInterval"
		value="1" />

	<add key="webappReadWriteDir"
		value="+read+write" />

	<add key="webappStaticReadWriteDir"
		value="$static" />

	<add key="DEV_EmployeeStatusConnectionString"
		  value="Data Source=.;Initial Catalog=EmployeeStatus;integrated security=true" />

	<add key="EmployeeStatusConnectionString"
		  value="Data Source=192.168.100.195;Initial Catalog=EmployeeStatus;User ID=login_RIM_Web;Password=" />

	<add key="DataContextSQLLogging"
		  value="" />
	<!-- for key="DataContextSQLLogging" any string value means YES -->

</appSettings>
